.chatWindow {
  background-color: #36384c;
  border: 2px solid #3e3e3b;
  border-radius: 10px;
  padding: 2;
}

.page {
  padding: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fafafa;
}

.chatInput {
  border-radius: 10px;
  background-color: #fafafa;
}

.myMessage {
  border: 2px solid #fafafa;
  background-color: #4c586f;
  color: #fafafa;
}

.message {
  background-color: #fafafa;
  color: #4c586f;
  border: 2px solid #4c586f;
}

.sidebar.active {
  background-color: #fafafa;
  color: #4c586f;
  border: 5px double #4c586f;
}

.sidebar {
  margin: 1;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background-color: #4c586f;
  color: #fafafa;
}

.sideButton {
  border-radius: 10px;
}

.sideButton:hover {
  background-color: #709fb0;
  border: 2px solid #3e3e3b;
}

.deleteButton {
  border-radius: 10px;
}

.deleteButton:hover {
  background-color: #df0000;
  border: 2px solid #36384c;
}

.sideButton.active {
  border-radius: 10px;
  background-color: #fafafa !important;
  border: 2px solid #3e3e3b !important;
}
